#container {
	height: 100%;
}
.container {
	@apply h-full object-cover bg-no-repeat;
}

.registrarse {
	background: url(/assets/signup-bg.png);
}

.iniciar-sesion {
	background: url(/assets/login-bg.png);
}
